/*****************MobileResponsive*******************/

@media screen and (max-width: 625px)
{
	
/* propriétés pour mobile */
	
	
img {
  border: none;
  max-width: 100%;
}
body {
  background-color: #bebebe;
  background-image: url("mockDashMob.png");
  background-repeat:no-repeat;
  background-size:cover;
 /* color: #ddd;*/
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  /*min-width: 1000px;*/
  width:100%;
}
.clearfix {
  clear: both;
}

#content{
	padding-left:0%;
}

#RaceTable
{
	width: 600px; height: 300px; padding:0% 0% 0% 0%;
}

#bar_mat
{
	width: 600px; height: 300px;
	padding-top:5%;
}

#CarData
{
	width: 600px; height: 300px;
	padding-top:7%;
}

}

@media screen and (max-width: 976px) and (min-width:625px)
{
/* propriétés pour tablette */


}

/************** Desktop **************/

@media screen and (min-width: 625px)
{
	
	img {
  border: none;
}
body {
  background-color: #bebebe; /*808080*//*bebebe*/
  background-image: url("mockDash.png");
  background-size:cover;
 /* color: #ddd;*/
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  /*min-width: 1000px;*/
  width:100%;
  text-align:center;

}
.clearfix {
  clear: both;
}

#content{
	padding-left:27%;
}

#RaceTable
{
	width: 900px; height: 300px; padding:0% 0% 0% 0%;
}

#bar_mat
{
	width: 900px; height: 500px;
}

#CarData
{
	width: 900px; height: 300px;
	
}
}